@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --breakpoint-phoneP: 390px;
  --breakpoint-phoneL: 500px;
  --breakpoint-phoneS:700px;
  --breakpoint-tablet: 900px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px; 
  --breakpoint-wide: 1440px;
}

body {
  background: var(--background);
}


.schedule_card {
  background: url("/images/schedule-bg-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav a.active {
  color: #c170ff;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes sparkle {
  0%,
  100% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-bounce-slow {
  animation: bounce 4s ease-in-out infinite;
}

.animate-pulse-slow {
  animation: pulse 2s ease-in-out infinite;
}

.animate-sparkle {
  animation: sparkle 2s ease-in-out infinite;
}

.perspective-1000 {
  perspective: 1000px;
}

.gradient-text {
  background: linear-gradient(45deg, #d49bfffc, #ff9bf7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}

.card-gradient {
  background: linear-gradient(135deg, #2b113c 0%, #3b1659 100%);
}

